:root[color-theme="light"] {
  --main-bg: rgb(248, 249, 250);
  --sub-bg: white;
  --period-bg: white;
  --close-bg: black;
  --font-color: black;
  --icon-brightness: 1;
  --icon-invert: 0;
  --nav-border: black;
  --item-border: rgb(248, 249, 250);
}

:root[color-theme="dark"] {
  --main-bg: #222;
  --sub-bg: rgb(60, 60, 60);
  --period-bg: #fcfcfc;
  --close-bg: lightpink;
  --font-color: white;
  --icon-brightness: 0;
  --icon-invert: 1;
  --nav-border: white;
  --item-border: #222;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  max-width: 1728px;
  background-color: var(--main-bg);
}

a:link,
a:visited,
a:hover {
  text-decoration: none;
  color: var(--font-color);
}

button {
  cursor: pointer;
  border: 0;
  outline: 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  margin-top: 1rem;
}

.header__logo {
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 0.2rem;
  color: var(--font-color);
}

.header__btn-group {
  display: flex;
  align-items: center;
}

.header__btn-group a {
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0.8rem;
}

.header__btn-group a:hover {
  background-color: rgba(0, 0, 0, 0.043);
  border-radius: 50%;
}

.header__btn-group > * {
  margin-left: 0.8rem;
}

.header__search-btn,
.header__more-btn,
.nav__trending img,
.item__like img {
  filter: brightness(var(--icon-brightness)) invert(var(--icon-invert));
}

.header__search-btn {
  width: 1.125rem;
  height: 1.125rem;
}

.header__mode-text {
  color: var(--font-color);
  font-size: 0.9rem;
}

.header__switch {
  position: relative;
  width: 4rem;
  height: 2rem;
}

.header__checkbox {
  visibility: hidden;
}

.header__mode-btn {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 20px;
  background-color: #ccc;
  box-shadow: inset 1px 5px 1px #999;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header__mode-btn:before {
  position: absolute;
  content: "";
  height: 1.4rem;
  width: 1.4rem;
  left: 0.3rem;
  bottom: 0.3rem;
  border-radius: 20px;
  background-color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header__checkbox:checked + .header__mode-btn {
  background-color: lightpink;
  box-shadow: inset 1px 5px 1px hotpink;
}

.header__checkbox:checked + .header__mode-btn:before {
  -webkit-transform: translateX(2rem);
  -ms-transform: translateX(2rem);
  transform: translateX(2rem);
}

.header__write-btn {
  height: 2rem;
  background-color: white;
  padding: 0 1rem;
  border: 1.5px solid black;
  border-radius: 1rem;
  font-weight: bold;
}

.header__write-btn:hover {
  background-color: rgb(134, 142, 150);
  color: white;
}

.header__profile {
  width: 2.2rem;
  height: 2.2rem;
}

.header__more-btn {
  width: 0.6rem;
  height: 0.6rem;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.nav__menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 1.2rem;
}

.nav__trending,
.nav__recent {
  font-size: 1.2rem;
  padding: 1rem;
}

.nav__trending img,
.nav__recent img {
  margin-right: 0.5rem;
  height: 1.2rem;
  vertical-align: top;
}

.nav__trending {
  border-bottom: 2px solid var(--nav-border);
  font-weight: 600;
}

.nav__recent a {
  color: rgb(134, 142, 150);
}

.nav__recent a img,
.nav__more-btn {
  filter: grayscale(100%) opacity(0.4) brightness(var(--icon-brightness))
    invert(var(--icon-invert));
}

.nav__period {
  font-size: 0.875rem;
  font-weight: 600;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 6rem;
  cursor: pointer;
  border-radius: 4px;
  background-color: var(--period-bg);
  position: relative;
  box-shadow: rgb(0 0 0 / 5%) 0px 0px 4px;
}

.nav__arrow {
  width: 1rem;
  height: 0.5rem;
  background: url("../img/triangle.png") center center/50% no-repeat;
}

.nav__dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 2;
  background-color: white;
  margin-top: 0.5rem;
  box-shadow: rgb(0 0 0 / 10%) 0px 0px 8px 0px;
  visibility: hidden;
}

.nav__dropdown-list {
  width: 12rem;
  padding: 0.75rem 1rem;
  border-top: 1px solid rgb(241, 243, 245);
  font-weight: 600;
  font-size: 0.875rem;
  background-color: var(--period-bg);
}

.nav__dropdown-list:first-child {
  border-top: none;
}

.nav__dropdown-list:hover {
  background: rgb(248, 249, 250);
}

.nav__dropdown-list.active {
  color: hotpink;
}

.nav__more-btn {
  width: 1.2rem;
}

.slider {
  width: 100%;
  margin-bottom: 3rem;
  position: relative;
  overflow-x: hidden;
}

.slider__left-arrow,
.slider__right-arrow {
  position: absolute;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 100%;
  background-color: rgba(204, 204, 204, 0.5);
  border-radius: 10px;
  cursor: pointer;
  font-size: 2rem;
  font-weight: 900;
  color: var(--font-color);
}

.slider__left-arrow {
  left: 0;
}

.slider__right-arrow {
  right: 0;
}

.item-container {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin: 1rem;
  gap: 1rem;
  transition: 300ms;
}

.item {
  width: 20rem;
  color: var(--font-color);
  background-color: var(--sub-bg);
  border-radius: 4px;
  box-shadow: rgb(0 0 0 / 4%) 0px 4px 16px 0px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  transition: transform 0.25s ease-in 0s, box-shadow 0.25s ease-in 0s;
}

.item:hover {
  transform: translateY(-8px);
  box-shadow: rgb(0 0 0 / 8%) 0px 12px 20px 0px;
}

.item__thumbnail {
  border-radius: 4px 4px 0 0;
}

.item__content {
  padding: 1rem;
}

.item__title {
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 600;
  margin-bottom: 0.25rem;
  word-break: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.item__description {
  margin: 0px 0px 1.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
  height: 3.9375rem;
  word-break: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  overflow-wrap: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.item__info {
  font-size: 0.75rem;
  color: rgb(134, 142, 150);
}

.item__bottom {
  padding: 0.625rem 1rem;
  border-top: 2px solid var(--item-border);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.75rem;
}

.item__bottom span img {
  margin-right: 0.5rem;
  vertical-align: middle;
}

.item__writer {
  color: rgb(134, 142, 150);
}

.item__writer img {
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
}

.item__writer b {
  font-weight: 600;
  color: var(--font-color);
}

.item__like img {
  width: 0.75rem;
  height: 0.75rem;
}

.modal__background {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 3;
}

.modal__background.show,
.modal__wrapper.show {
  display: block;
}

.modal__wrapper {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 4;
}

.modal__content .item {
  width: 20rem;
  transform: none;
}

.modal__close {
  background-color: var(--close-bg);
  color: white;
  border-radius: 50%;
  font-size: 1.2rem;
  font-weight: 600;
  width: 2.5rem;
  height: 2.5rem;
  padding: 0;
  display: block;
  margin: 0 auto;
  margin-top: 1rem;
  text-shadow: 0px 0px 5px darkred;
}

@media (max-width: 1919px) {
  body {
    width: 1376px;
  }
}

@media (max-width: 1440px) {
  body {
    width: 1024px;
  }
}

@media (max-width: 1056px) {
  body {
    width: calc(100% - 2rem);
  }
}

@media (max-width: 1056px) {
  .item {
    width: calc(50% - 2rem);
  }
}

@media (max-width: 767px) {
  .item {
    width: calc(100% - 2rem);
  }
  .header__btn-group > * {
    margin-left: 0.4rem;
  }
  .header__mode-text,
  .header__write-btn {
    font-size: 0.6rem;
  }
  .header__write-btn {
    padding: 0 0.6rem;
  }
}
